html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  transition: color 0.4s;
  color: #e32d2d;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #ffa6a6;
}

a:active {
  text-decoration: none;
  transition: color 0.3s;
  color: #ffa6a6;
}

img {
  max-width: 100%;
  display: block;
}
